.experiencespagecontener {
  height: 80vh;
  overflow-y: scroll;
}

.tableauexperiences {
  margin-top: 3vh;

  #entreprise {
    width: 16.5vw;
    font-size: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }

  #lieu {
    width: 15vw;
    font-size: auto;
    text-align: left;

    font-family: Arial, Helvetica, sans-serif;
  }

  #date-debut,
  #date-fin {
    width: 10vw;

    font-family: Arial, Helvetica, sans-serif;
  }

  #poste {
    width: 20vw;
    font-size: auto;
    text-align: left;

    font-family: Arial, Helvetica, sans-serif;
  }

  #descriptionExp {
    width: 70vw;
    font-size: auto;
    text-align: left;

    font-family: Arial, Helvetica, sans-serif;
  }

  #displayOffLabel {
    display: none;
  }

  #buttonAdd {
    margin: 6vh;
    width: 10vw;
    height: 5vh;
  }
}

.col {
  margin-bottom: 0.5em;
}
