:root {
  --color1-: #11151D;
  --color2-:#222D41;
  --color3-: #374158;
  --color4-: #7F5056;
  --color5-: #D76C58;
  --color6-: hsla(214, 35%, 68%, 0.548);
  --color7-: #61dafbaa;

}



  #root {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}



h1 {
  font-size: 3.5em;
  line-height: 1.1;
  text-align: center;
  color: whitesmoke;
  text-shadow: 1px 5px 8px black;
}

h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 5%;
  
}

h3 {
  font-size: 40px;
  text-align: center;
  margin: 0;
  text-shadow: 0 0 25px black;
  color: var(--color7-);
  z-index: 5;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    font-size: 70px;}
    @media screen and (min-width : 979px) {
      width : 100%;
    }
    @media screen and (min-width: 979px) {
      font-size: 80px;
      width: 100%;
  
    }
  }  

h3:hover,
h2:hover  {
  text-shadow: 5px 5px 25px var(--color4-);
}

.separate {
  display: flex;
  margin: 10%;
  background-color: var(--color7-);
  border-radius: 80%;
  height: 10px;
  width: 75%;
  padding-left: 5%;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    margin:5%;
    padding-left: 12%
  }
    @media screen and (min-width: 979px) {
      margin : 2.5%;
      padding-left: 20vw;
      }
  }

.header {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
  justify-content: center;
  width: auto;
  height: 150px;
  align-items: center;
  
  @media screen and (min-width : 979px) {
    flex-direction: row;
    
  }
}

a, h1, h2 {
  font-family: edu-au-vic-wa-nt-guides;
  text-decoration: inherit;
  text-shadow: 2px 2px 5px black; 
  
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite; 
  height: 35vh;
  margin-top: -8%;
  @media screen and (min-width: 979px) {
    display: flex;
    height: 5vh;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100vw;
    margin: 0 0 1% 0;
  }}
       
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  z-index: 2;
  font-size: 10vw;
  text-shadow: 0 0 1em  var(--color7-);
  color: white;
  font-size: 6vw;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    font-size: 4vw;}
  
  @media screen and (min-width: 979px) {
    font-size: 4vh;
  }}



nav a:hover {
  scale: 1.2;
  will-change: filter;
  transition: filter 700ms;
  text-shadow: 0 0 0.7em black;
  color: var(--color7-);
}

ul {
  display: flex;
  width: 8vw; 
  text-align: center;
  justify-content: space-around;
}

.MainContener {
  width: 100vw;
  @media screen and (min-width : 979px) {
    width: 100%;
   }
}

.profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border-radius: 70px;
  width: 100vw;
  margin-top: 5%;
  @media screen and (min-width : 979px) {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 2%;
  }
  }

.logo {
  height: auto;
  border-radius: 5%;
  will-change: filter;
  transition: filter 300ms;  
  width: 50vw;
  height: auto;
  margin: 1%;
  will-change: filter;
  transition: filter 1000ms;
  z-index:0;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    width: 35%;
  }
  @media screen and (min-width : 979px) {
   grid-column-start : 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
   margin-left: 50%;
   width: 67%;
      }
  }

.logo:hover {
  filter: drop-shadow(0 0 2em white);
}

.titleProfil {
  margin-bottom: 0;
  font-size:25px;
  text-shadow: 1px 1px 8px var(--color7-);
  width: 75vw;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    font-size: 35px;  
  }
  @media screen and (min-width : 979px) {
    grid-column-start : 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 40%;
    margin-left: 21.5%;
    font-size: 2.5em;
    }
  }  
 
.personalityProfil {
  font-size: 24px;
  font-family: edu-au-vic-wa-nt-guides;
  background-color: var(--color6-);
  border-radius: 25px;
  border-style:groove solid;
  text-align: left;
  padding: 10px 10px 10px 25px;
  width: 70vw;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    font-size: 20px;
    width: 55vw;
  }  
  @media screen and (min-width : 979px) {
    grid-column-start : 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 40%;  
    margin-left: 20%;
    margin-top: -2%;   
   }
}

.logo:hover {
  filter: drop-shadow(0 0 1em white);
}

.resumeCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
  margin: 0 1.5em 1.5em 1.5em;
  border-radius: 2px;
  @media screen and (min-width : 768px) and (max-width: 979px) {
    width: 95%;
    
    }
  @media screen and (min-width: 979px) {
    flex-direction: row;
    flex-wrap: wrap;
    width : 100%; 
    align-items: flex-start;
    
  }   
  }

.titleCard {
  text-align: center;
  font-size: 25px;
  margin-bottom: 5%;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    font-size: 30px;
    padding: 0 ;
  }
  @media screen and (min-width: 979px) {
    font-size: 2.6em;
    }
}

.infos {
  width: 75%;
  gap: 1.5rem;
  text-align: left;
  padding: 10%;
  border-radius: 50px;
  box-shadow: 2px 2px 1px white;
  text-shadow: 5px 5px 5px 10px black;
  text-rendering: optimizeSpeed;
  background-color: #3741589c;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    padding: 5%;
    font-size: 20px;
    width: 60%;
  }
    @media screen and (min-width : 979px) {
      width : 25%;
      padding: 2%;
    }
   }

.cardsPosition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  }
  @media screen and (min-width : 768px) and (max-width: 979px) {
    #cardsPosition {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
    }
  }
  @media screen and (min-width : 979px) {
#cardsPosition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  
}
}

.cv-contener {
  display: flex;
  flex-direction: column;
  
}

/* Figure de PROJETS */
figure.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction:column;
  width: 80vw;
  margin-bottom: 10%;
  border-radius: 5em;
  box-shadow: 1px 1px 15px white;
  @media screen and (min-width : 768px) and (max-width: 979px) {
      width: 45%;
    }
  @media screen and (min-width : 979px) {
    width : 30vw;
    padding: 2%;
    margin: 1%;
  }
}

.cardImage {
  box-shadow: 10px 10px 40px 5px white;
  border-radius: 20px;
  padding: 3px;
  width: 70vw;
  @media screen and (min-width : 979px) {
    width : 90%;
    padding: 2%;
  }
}

.cardDescription {
  width: 80%;
  margin: 5%;
  padding: 5px;
  background-color: #61dafbaa;
  border-radius: 10px;
  border-style:groove solid;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    font-size: 30px;}
    @media screen and (min-width: 979px) {
      width: 90%;
      font-size: 1.5em;
    }
  }

.cardButton {
  background-color: #213547;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom:20px;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    font-size: 30px;}
    @media screen and (min-width: 979px) {
      width: 38%;
      font-size: 1.5em;
    }
}

@media screen and (min-width: 768px) and (max-width: 979px) {
  .spancontact {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
      }
    }

span a {
  text-decoration: none;
  color: white;
  box-shadow: 0 5px 5px var(--color7-);
  @media screen and (min-width: 768px) and (max-width: 979px) {
    font-size: 35px;
    
  }
  
}
.react {
  will-change: filter;
  transition: filter 300ms;

}
.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .react {
    animation: react-spin infinite 20s linear;
  }
}


.footer {
  color: #61dafbaa;
  text-shadow: 0 0 15px black;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  font-size: 15px;
  width: 85vw;
  padding-left: 20px;
  padding-top:25px;
  @media screen and (min-width: 768px) and (max-width: 979px) {
    font-size: 35px;
  flew-wrap: wrap;
}

}
