.principalcontener {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  position: relative;
  bottom: 45px;
  z-index: 9999;
  margin-top: 0.4em;
  justify-content: center;
  align-items: space-evenly;
  width: auto;
  max-height: 10vh;
  @media screen and (min-width: 979px) {
    flex-direction: row;
  }
}

.main {
  margin: 1% 0 0 0;
  max-height: 80vh;
}
