:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color1-: #11151d;
  --color2-: #222d41;
  --color3-: #374158;
  --color4-: #7f5056;
  --color5-: #d76c58;
  .edu-au-vic-wa-nt-guides {
    font-family: "Edu AU VIC WA NT Guides", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  background-image: url("/background4.png");
  background-position-y: top;
  background-attachment: fixed;
  background-position: center;
  background-size: 98vw 85vh;
  background-repeat: no-repeat;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
